@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: purple;
}

header {
    max-width: 45vw;
    background-color: grey;
}
div {
    margin: auto;
    max-width: 50vw;
}

main {
    margin: auto;
    padding: 10px;
    max-width: 50vw;
    min-height: 30vh;
    background-color: white;
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
}



main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

p.fundob {
    max-width: 45vw;
    height: 40px;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: purple;
    text-align: end;
}

input#iusu {
    margin: 2px 0px 2px 0px;
    padding: 1px 0px 1px 5px;
    height: 28.5px;
    border-radius: 10px;
}

input#isen {
    margin: 2px 0px 2px 0px;
    padding: 1px 0px 1px 5px;
    height: 28.5px;
    border-radius: 10px;
    
}

input#ilog {
    margin-top: 10px;
    border: 0px;
    font-size: 1em;
    background-color: #407e4000;
    color: white;
}

#ilog:hover {
    text-shadow: 1px 1px 1px white;
}

p#backlogin {
    margin: auto;
    max-width: 45vw;
    height: 40px;
    background-color: #407e408e;
    border-radius: 10px;
}
#reset:hover {
    text-shadow: 1px 0px 0px black;
}

p#breset {
    margin: auto;
    margin-top: 5px;
    max-width: 45vw;
    height: 40px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

input#reset {
  border: 0px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0);
}

